// app global css in SCSS form


@tailwind base;
@tailwind components;
@tailwind utilities;


/* Firefox */
@font-face{
    font-family: "Montserrat";
    src: url('../assets/Montserrat-ExtraLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: #262525;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

::-webkit-scrollbar {
   display: none;
}

* {
    -ms-overflow-style: none; 
}
