// app global css in SCSS form


@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face{
    font-family: "Montserrat";
    src: url('../assets/Montserrat-ExtraLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: #262525;
    font-family: 'Montserrat', sans-serif;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    @apply select-none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;  
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; 
}

.modal-box::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.modal-box {
    scrollbar-width: none; 
}


